<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Benchmarks</h1>
        <%- include('./partials/messages'); %>
        <form action="/functions/benchmarks" method="POST">
          <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                value='<%- email %>'
                readonly
              />
          </div>
          <div class="form-group">
            <label for="e1">Current Max <%= exercise.exercises[0] %></label>
            <input
              type="e1"
              id="e1"
              name="e1"
              class="form-control"
              placeholder="Enter Weight"
            />
          </div>
          <div class="form-group">
            <label for="e2">Current Max <%= exercise.exercises[1] %></label>
            <input
              type="e2"
              id="e2"
              name="e2"
              class="form-control"
              placeholder="Enter Weight"
            />
          </div>
          <div class="form-group">
            <label for="e3">Current Max <%= exercise.exercises[2] %></label>
            <input
              type="e3"
              id="e3"
              name="e3"
              class="form-control"
              placeholder="Enter Weight"
            />
          </div>
          <div class="form-group">
            <label for="e4">Current Max <%= exercise.exercises[3] %></label>
            <input
              type="e4"
              id="e4"
              name="e4"
              class="form-control"
              placeholder="Enter Time"
            />
          </div>
          <div class="form-group">
            <label for="height">Current Height(in)</label>
            <input
              type="height"
              id="height"
              name="height"
              class="form-control"
              placeholder="Enter Height"
            />
          </div>
          <div class="form-group">
            <label for="weight">Current Weight(lbs)</label>
            <input
              type="weight"
              id="weight"
              name="weight"
              class="form-control"
              placeholder="Enter Weight"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
      </div>
    </div>
  </div>