<!-- CoachHome - developed by Kayl Murdough -->
<!-- This page shows active lineups for offense, defense, special teams -->
<!-- Need to figure out exact player positions wanted and put in excel file -->
<!-- Maybe make it customizable by coach? -->
<style>
  @media all and (min-width: 600px) {
    .bodyContainer {flex: 2 0px;}
    .sidenav {order: 1;}
    .chBody {order: 2;}
  }
  @media all and (min-width: 600px) {
    .bodyContainer {
      flex: 2 0px;
    }
    .sidenav {
      order: 1;
    }
    .rBody {
      order: 2;
    }
    .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
  }
</style>
<div class="bigContainer">
  <!-- Includes topnav -->
  <%- include("partials/topnav") %>
  <div class="bodyContainer">
    <!-- Includes Side navigation -->
    <%- include("partials/sidenav") %>
    <div class="chBody">
      <div id="offenseLine">
        <div class="row" style="text-align: center;">
          <span class="help col-sm-5" style="text-align: left;">Depth Chart</span>
          <button class="btn btn-primary" id="myBtn">Update Rankings</button>
        </div>
        <br>
        <br>
        <span class="help">Offense</span>
        <table style="width: 100%;">
          <tr>
            <th></th>
            <th>First String</th>
            <th>Second String</th> 
            <th>Third String</th>
            <th>Fourth String</th>
            <th>Other</th>
          </tr>
          <% var j = 0; var k = 0;
          for(var i = 0; i < offPlayersPos.length; i++) { %>
          <tr>
            <td><%= offPlayersPos[i] %></td>
            <% k = 0;
            while (j < offPlayers.length && k < 5 && offPlayers[j].Pos == offPlayersPos[i]) { %>
              <td><%= offPlayers[j].FullName %><%= offPlayers[j].Rank %></td>
              <% j++; k++;%>
            <% } %>
          </tr>
          <% } %>
        </table>

      

      
    </div>
  </div>
</div> 
<script>
  // Get the modal
var modal = document.getElementById("myModal");
// Get the button that opens the modal
var btn = document.getElementById("myBtn");
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
// When the user clicks on the button, open the modal
const delay = ms => new Promise(res => setTimeout(res, ms));

const modalDisp = async() => {
  modal.style.display = "block";
  // await delay(500);
  // initGameGrade();
}

btn.onclick = modalDisp;

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
// Makes buttons work
var dropdown = document.getElementsByClassName("dropdown-toggle");
  var i;
  // modal.style.display = "block";
  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
      } else {
        dropdownContent.style.display = "block";
      }
    });
  }
  // Drag and drop code
  // var drake = dragula({
  //   containers: [
  //     document.querySelector("#qb"),
  //     document.querySelector("#offense"),
  //     document.querySelector("#defense"),
  //     document.querySelector("#special"),
  //     document.querySelector("#subs"),
  //     document.querySelector("#QBsubs"),
  //     document.querySelector("#RBsubs"),
  //     document.querySelector("#WRsubs"),
  //     document.querySelector("#TEsubs"),
  //     document.querySelector("#DEsubs"),
  //     document.querySelector("#OLsubs"),
  //     document.querySelector("#SPsubs"),
  //     document.querySelector('#DLsubs'),
  //   ],
  //   revertOnSpill: true,
  //   mirrorContainer: document.body,
  //   ignoreInputTextSelection: true,
  // });

  // validation
  // drake.on("drop", function (el, target, source, sibling) {
    // max 11 players
    // if ((target.id != source.id) && !target.id.includes("subs") && (document.querySelectorAll(".oline li").length > 11
    // || document.querySelectorAll(".dline li").length > 11 || document.querySelectorAll(".sline li").length > 11)) {
    //   alert('Can only have 11 players. Remove a player before adding a new one.');
    //   drake.cancel();
    // }

    
    //   if (!b) {
        // alert("Player number " + numStr + " not found");
      // }
    // }

    // 1 qb
    // if (target.id === "qb" && target.children.length > 1) {
    //   alert('Can only have 1 quarterback.');
    //   drake.cancel();
    // }

    // 10 linemen
    // if (target.id === "offense" && target.children.length > 10) {
    //   alert('Can only have 10 linemen on offense.');
    //   drake.cancel();
    // }
  // });
  // Shows offensive line when you first get to coachHome
  // document.addEventListener(
  //   "DOMContentLoaded",
  //   function () {
  //     //alert("Ready!");
  //     toggleActiveTeam('o');
  //   },
  //   false
  // );
</script>

 