<!-- CoachHome - developed by Kayl Murdough -->
<!-- This page shows active lineups for offense, defense, special teams -->
<!-- Need to figure out exact player positions wanted and put in excel file -->
<!-- Maybe make it customizable by coach? -->
<style>
  @media all and (min-width: 600px) {
    .bodyContainer {flex: 2 0px;}
    .sidenav {order: 1;}
    .chBody {order: 2;}
  }
  @media all and (min-width: 600px) {
    .bodyContainer {
      flex: 2 0px;
    }
    .sidenav {
      order: 1;
    }
    .rBody {
      order: 2;
    }
    .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 25px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  align-self: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
  }
  table.redTable {
    border: 2px solid #a40808;
    background-color: #eee7db;
    width: 98%;
    text-align: center;
    border-collapse: collapse;
    margin-left: 15px;
  }
  table.redTable td,
  table.redTable th {
    border: 1px solid #aaaaaa;
    padding: 3px 2px;
  }
  table.redTable tbody td {
    font-size: 13px;
    text-align: center;
  }
  /* table.redTable tr:nth-child(even) {
    background: #f5c8bf;
  } */
  table.redTable thead {
    background: #a40808;
  }
  table.redTable thead th {
    font-size: 19px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    border-left: 2px solid #a40808;
  }
  table.redTable thead th:first-child {
    border-left: none;
  }

  table.redTable tfoot {
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    background: #a40808;
  }
  table.redTable tfoot td {
    font-size: 13px;
    text-align: center;
  }
  table.redTable tfoot .links {
    text-align: right;
  }
  table.redTable tfoot .links a {
    display: inline-block;
    background: #ffffff;
    color: #a40808;
    padding: 2px 8px;
    border-radius: 5px;
  }
</style>
<div class="bigContainer">
  <!-- Includes topnav -->
  <%- include("partials/topnav") %>
  <div class="bodyContainer">
    <!-- Includes Side navigation -->
    <%- include("partials/sidenav") %>
    <div class="chBody" style="text-align: center;">
      <div class="row" style="margin-right: 0; margin-left: 0;">
        <span class="help col-sm-5" style="text-align: left; margin-left: 0px;">Depth Chart</span>
      </div>
      <div class="row" style="margin-right: 0; margin-left: 0px;">
        <div class="col-sm-7" style="text-align: left;">
          <button class="btn btn-primary" onclick="viewLine('o')">Offense</button>
          <button class="btn btn-primary" onclick="viewLine('d')">Defense</button>
          <button class="btn btn-primary" onclick="viewLine('s')">Special</button>
        </div>
        <div class="col-sm-5" style="text-align: right;">
          <!-- <button class="btn btn-primary" id="myBtn" style="margin-right: 5px;">Update Rankings</button> -->
          <a href="/coach/fullUpdatePos"><button class="btn btn-primary">Add Position</button></a>
        </div>
      </div>
      <br>
      <div id="offenseLine" style="padding-top: 10px;">
        <!-- <span class="help">Offense</span> -->
        <table class="redTable" id="viewTable" border="1">
          <tr>
            <th></th>
            <th>First String</th>
            <th>Second String</th> 
            <th>Third String</th>
            <th>Fourth String</th>
            <th>Fifth String</th>
          </tr>
          
            <% var offenseOrder = ['QB','RB','WR','WR','WR','TE','OL','LT','LG','C','RG','RT']
            for (var i = 0; i < sortedPlayers.length; i++) {
              if (sortedPlayers[i][0] == 'WR') {
                sortedPosGroup = sortedPlayers[i];
                sortedPosGroup.shift();
                var wrIndices = [];
                for (var m = 0; m < sortedPosGroup.length; m++) {
                  wrIndices.push(0)
                }
                for (var k = 0; k < sortedPosGroup.length; k++) {
                  for (var j = 0; j < sortedPosGroup[k].listPos.length; j++) {
                    if (sortedPosGroup[k].listPos[j] == 'WR') {
                      <!-- wrIndices.push(j); -->
                      wrIndices[k] = j
                      break;
                    }
                  }
                }
                var wrPlayers = [];
                var c = 0;
                var lowestRank = 1;
                var index = 0;
                while (c < 15 && c < sortedPosGroup.length && lowestRank < 40) {
                  if (sortedPosGroup[index] != undefined && sortedPosGroup[index].Rank[wrIndices[index]] == lowestRank) {
                    if (c % 3 == 0) {
                      wrPlayers.push([sortedPosGroup[index].FullName])
                    } else {
                      wrPlayers[Math.floor(c/3)].push(sortedPosGroup[index].FullName)
                    }
                    c++;
                  }
                  if (index+1 >= sortedPosGroup.length) {
                    lowestRank++;
                    index = 0;
                  } else {
                    index++;
                  }
                }
                for (var j = 0; j < 3; j++) { %>
                  <tr>
                <form action="/coach/position" method="POST">
                  <td><button class="btn btn-primary" type="submit" name="pos" value="WR" style="font-size: 13px;">WR</button></td>
                </form>
                  <% for (var k = 0; k < 5; k++) {
                    if (wrPlayers[k] != undefined && wrPlayers[k][j] != null) {%>
                      <form action="/coach/viewPlayer" method="POST">
                        <td><button type="submit" name="playerName" value="<%- wrPlayers[k][j] %>"><%= wrPlayers[k][j] %></button></td>
                      </form>
                    <%}
                  }
                }
              } 
              else if (sortedPlayers[i][0] != 'WR' && offPlayersPos.includes(sortedPlayers[i][0])) {%>
              <tr>
            <form action="/coach/position" method="POST">
              <td><button class="btn btn-primary" type="submit" name="pos" value="<%- sortedPlayers[i][0] %>" style="font-size: 13px;"><%= sortedPlayers[i][0] %></button></td>
            </form>
              <% sortedPosGroup = sortedPlayers[i];
                 var curPos = sortedPlayers[i][0];
                 sortedPosGroup.shift();
                 var c = 0;
                 var index = 0;
                 var lowestRank = 1;
                 var posIndex = 0;
              while (c < sortedPosGroup.length && c < 5 && lowestRank < 30) {
                for (var j = 0; j < sortedPosGroup[index].listPos.length; j++) {
                  if (sortedPosGroup[index].listPos[j] == curPos) {
                    posIndex = j;
                    break;
                  }
                }
                if (sortedPosGroup[index].Rank[posIndex] == lowestRank) { %>
                  <form action="/coach/viewPlayer" method="POST">
                    <td><button type="submit" name="playerName" value="<%- sortedPosGroup[index].FullName %>"><%= sortedPosGroup[index].FullName %></button></td>
                  </form>

                  <% c++;
                }
                if (index + 1 >= sortedPosGroup.length) {
                  lowestRank++;
                  index = 0;
                } else {
                  index++;
                }
              }
             }
            } %>
          </form>
        </table>
      </div>
      <br>
      <div id="defenseLine" style="padding-top: 10px;">
        <!-- <span class="help">Defense</span> -->
        <table class="redTable" id="viewTable" border="1">
          <tr>
            <th></th>
            <th>First String</th>
            <th>Second String</th> 
            <th>Third String</th>
            <th>Fourth String</th>
            <th>Fifth String</th>
          </tr>
          
            <% for (var i = 0; i < sortedPlayers.length; i++) { 
              if (defPlayersPos.includes(sortedPlayers[i][0])) {%>
              <tr>
              <form action="/coach/position" method="POST">
                <td><button class="btn btn-primary" type="submit" name="pos" value="<%- sortedPlayers[i][0] %>" style="font-size: 13px;"><%= sortedPlayers[i][0] %></button></td>
              </form>
              <% sortedPosGroup = sortedPlayers[i];
                 sortedPosGroup.shift();
                 var c = 0;
                 var index = 0;
                 var lowestRank = 1;
                 var posIndex = 0;
              while (c < sortedPosGroup.length && c < 5 && lowestRank < 30) {
                for (var j = 0; j < sortedPosGroup[index].listPos.length; j++) {
                  if (sortedPosGroup[index].listPos[j] == sortedPlayers[i][0]) {
                    posIndex = j;
                    break;
                  }
                }
                if (sortedPosGroup[index].Rank[posIndex] == lowestRank) { %>
                  <form action="/coach/viewPlayer" method="POST">
                    <td><button type="submit" name="playerName" value="<%- sortedPosGroup[index].FullName %>"><%= sortedPosGroup[index].FullName %></button></td>
                  </form>
                  <% c++;
                }
                if (index + 1 >= sortedPosGroup.length) {
                  lowestRank++;
                  index = 0;
                } else {
                  index++;
                }
              }
             }
            } %>
          </form>
        </table>

        <br>
      </div>
      <div id="specialLine" style="padding-top: 10px;">
        <!-- <span class="help">Special Teams</span> -->
        <table class="redTable" id="viewTable" border="1">
          <tr>
            <th></th>
            <th>First String</th>
            <th>Second String</th> 
            <th>Third String</th>
            <th>Fourth String</th>
            <th>Fifth String</th>
          </tr>
          
            <% for (var i = 0; i < sortedPlayers.length; i++) { 
              if (spePlayersPos.includes(sortedPlayers[i][0])) {%>
              <tr>
              <form action="/coach/position" method="POST">
                <td><button class="btn btn-primary" type="submit" name="pos" value="<%- sortedPlayers[i][0] %>" style="font-size: 13px;"><%= sortedPlayers[i][0] %></button></td>
              </form>
              <% sortedPosGroup = sortedPlayers[i];
                 sortedPosGroup.shift();
                 var c = 0;
                 var index = 0;
                 var lowestRank = 1;
                 var posIndex = 0;
              while (c < sortedPosGroup.length && c < 5 && lowestRank < 30) {
                for (var j = 0; j < sortedPosGroup[index].listPos.length; j++) {
                  if (sortedPosGroup[index].listPos[j] == sortedPlayers[i][0]) {
                    posIndex = j;
                    break;
                  }
                }
                if (sortedPosGroup[index].Rank[posIndex] == lowestRank) { %>
                  <form action="/coach/viewPlayer" method="POST">
                    <td><button type="submit" name="playerName" value="<%- sortedPosGroup[index].FullName %>"><%= sortedPosGroup[index].FullName %></button></td>
                  </form>
                  <% c++;
                }
                if (index + 1 >= sortedPosGroup.length) {
                  lowestRank++;
                  index = 0;
                } else {
                  index++;
                }
              }
             }
            } %>
        </table>
        <br>
      </div>
        <br>
        

      <!-- The Modal PopUp Window NO LONGER USING ON DEPTH CHART - only in position for now...-->
      <!-- <div id="myModal" class="modal" style="overflow-y:auto;">
        <div class="modal-content">
          <div class="form-group" role="group" aria-label="Button group with nested dropdown">
          <form id="modalForm" action="/coach/depthChart" method="POST">
            <div class="dropdown" role="group" style="padding-top: 10px; text-align: center;">
              <span class="close">&times;</span>
              <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choose Position
              </button>
              <div class="dropdown-content" aria-labelledby="btnGroupDrop1">
                <% var allPlayers = ['QB','RB','FB','WR','TE','LT','LG','C','RG','RT','CB','DB','DE','DL','DT','FS','ILB','LB','MLB','OLB','SS','K/P','LS']; %>
                <button class="dropdown-item" type="submit" name="type" value="full" >ALL</button>
                <% for (var i = 0; i < positions.length; i++) { %>
                  <button class="dropdown-item" type="submit" name="type" value="<%- positions[i] %>">View <%= positions[i] %>s</button>
                <% } %>
              </div>
            </div>
            </form>
          </div>
          <br>
          <% if (posPlayers.length > 0) { %>
          <span class="help"><%= posPlayers[0].Pos %></span>
          <br>
          <form action="/coach/submitRank" method="POST">
          <% for (var i = 0; i < posPlayers.length; i++) { %>
            <input type="name" name="playerNames" value="<%= posPlayers[i].FullName %>" readonly>
            <input type="number" name="rank" min='1' max='<%- posPlayers.length %>' value="<%- posPlayers[i].Rank %>">
            <input class="hidden" name="type" value="<%- posPlayers[i].Pos %>" hidden>
            <br>
          <% } %>
          <div style="padding-top: 15px;">
            <input type="submit" class="btn btn-primary dropdown-toggle" value="Submit">
          </div>
          
          </form>
          <% } %>
        </div>
      </div> -->
      

      
    </div>
  </div>
</div> 
<script>
var offDiv = document.getElementById('offenseLine')
var defDiv = document.getElementById('defenseLine')
var speDiv = document.getElementById('specialLine')
defDiv.style.display = "none";
speDiv.style.display = "none";
// Get the modal
var modal = document.getElementById("myModal");
// Get the button that opens the modal
var btn = document.getElementById("myBtn");
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
// When the user clicks on the button, open the modal
const delay = ms => new Promise(res => setTimeout(res, ms));

const modalDisp = async() => {
  modal.style.display = "block";
}

btn.onclick = modalDisp;

// async function modalDisp2() {
//   await delay(2000);
//   modal.style.display = "block";
//   $('.myModal').show()
// }

// $("form").on('submit', function async() {
//     modalDisp2();
// });

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
// Makes buttons work
var dropdown = document.getElementsByClassName("dropdown-toggle");
  var i;
  // modal.style.display = "block";

  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "inline-block") {
        dropdownContent.style.display = "none";
      } else {
        dropdownContent.style.display = "inline-block";
      }
    });
  }

  function viewLine(l) {
    var offDiv = document.getElementById('offenseLine')
    var defDiv = document.getElementById('defenseLine')
    var speDiv = document.getElementById('specialLine')
    if (l == 'o') {
      defDiv.style.display = "none";
      speDiv.style.display = "none";
      offDiv.style.display = "block";
    }
    else if (l == 'd') {
      defDiv.style.display = "block";
      speDiv.style.display = "none";
      offDiv.style.display = "none";
    }
    else {
      defDiv.style.display = "none";
      speDiv.style.display = "block";
      offDiv.style.display = "none";
    }
  }
  // Drag and drop code
  // var drake = dragula({
  //   containers: [
  //     document.querySelector("#qb"),
  //     document.querySelector("#offense"),
  //     document.querySelector("#defense"),
  //     document.querySelector("#special"),
  //     document.querySelector("#subs"),
  //     document.querySelector("#QBsubs"),
  //     document.querySelector("#RBsubs"),
  //     document.querySelector("#WRsubs"),
  //     document.querySelector("#TEsubs"),
  //     document.querySelector("#DEsubs"),
  //     document.querySelector("#OLsubs"),
  //     document.querySelector("#SPsubs"),
  //     document.querySelector('#DLsubs'),
  //   ],
  //   revertOnSpill: true,
  //   mirrorContainer: document.body,
  //   ignoreInputTextSelection: true,
  // });

  // validation
  // drake.on("drop", function (el, target, source, sibling) {
    // max 11 players
    // if ((target.id != source.id) && !target.id.includes("subs") && (document.querySelectorAll(".oline li").length > 11
    // || document.querySelectorAll(".dline li").length > 11 || document.querySelectorAll(".sline li").length > 11)) {
    //   alert('Can only have 11 players. Remove a player before adding a new one.');
    //   drake.cancel();
    // }

    
    //   if (!b) {
        // alert("Player number " + numStr + " not found");
      // }
    // }

    // 1 qb
    // if (target.id === "qb" && target.children.length > 1) {
    //   alert('Can only have 1 quarterback.');
    //   drake.cancel();
    // }

    // 10 linemen
    // if (target.id === "offense" && target.children.length > 10) {
    //   alert('Can only have 10 linemen on offense.');
    //   drake.cancel();
    // }
  // });
  // Shows offensive line when you first get to coachHome
  // document.addEventListener(
  //   "DOMContentLoaded",
  //   function () {
  //     //alert("Ready!");
  //     toggleActiveTeam('o');
  //   },
  //   false
  // );
</script>
