<!-- CoachHome - developed by Kayl Murdough -->
<!-- This page shows active lineups for offense, defense, special teams -->
<!-- Need to figure out exact player positions wanted and put in excel file -->
<!-- Maybe make it customizable by coach? -->
<style>
  @media all and (min-width: 600px) {
    .bodyContainer {flex: 2 0px;}
    .sidenav {order: 1;}
    .chBody {order: 2;}
  }
</style>
<div class="bigContainer">
  <!-- Includes topnav -->
  <%- include("partials/topnav") %>
  <div class="bodyContainer">
    <!-- Includes Side navigation -->
    <%- include("partials/sidenav") %>
    <div class="chBody">
      <div id="offenseLine">
        <span class="help">Offense</span>
        <ul id="offense">
          <% var offPlayers = ['WR','OL','TE','WR','RB','QB']; %>
          <% var prevPos = 'DB'; %>
          <% var curPos; %>
          <% for(var i = 0; i < players.length; i++) {%>
            <% curPos = players[i].Pos; %>
            <% if (prevPos != curPos)  {%>
                <br>    
            <% }%>
              <span class="number"><%= players[i].Number %></span>
              <span class="name"><%= players[i].FullName %></span>
              <span class="num"><%= players[i].Pos %></span>
            <% prevPos = curPos; %>
          <% } %>
        </ul>
      </div>

      <!-- <div>
        <div class="btn-group" style="padding: 10px">
          <button
            type="button"
            class="btn btn-primary dropdown-toggle"
            data-toggle="dropdown"
          >
            Team
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" onclick="toggleActiveTeam('o')">Offense</a>
            <a class="dropdown-item" onclick="toggleActiveTeam('d')">Defense</a>
            <a class="dropdown-item" onclick="toggleActiveTeam('s')">Special Teams</a>
          </div>
        </div>
      </div> -->
      <!-- Offensive line -->
      <!-- <div class="pitch oline" id="offenseLine">
        <span class="help">Offense</span>
        <ol id="offense" class="container2">
          <% var offPlayers = ['WR','WR','OL','OL','OL','OL','OL','TE','WR','RB']; %>
          <% for(var i = 0; i < players.length; i++) {%>
            <% if (players[i].Active && offPlayers.includes(players[i].Pos)) { %>
            <li onclick="showSubs('s<%- players[i].Pos %>')">
              <span class="number"><%= players[i].Number %></span>
              <span class="name">ACTIVE <%= players[i].FullName %></span>
              <span class="num"><%= players[i].Pos %></span>
            </li>
              <% offPlayers.splice(offPlayers.indexOf(players[i].Pos), 1); %>
            <% } %>
          <% } %> -->
          <!-- wide receiver, halfback, fullback, tight end, offensive linemen -->
          <!-- <% for(var i = 0; offPlayers.length > 0 && i < players.length; i++) {%>
            <% if (offPlayers.includes(players[i].Pos)) { %>
            <li onclick="showSubs('s<%- players[i].Pos %>')">
              <span class="number"><%= players[i].Number %></span>
              <span class="name"><%= players[i].FullName %> </span>
              <span class="num"><%= players[i].Pos %></span>
            </li>
              <% offPlayers.splice(offPlayers.indexOf(players[i].Pos), 1); %>
              <% players[i].Active = true; %>
            <% } %>
          <% } %>
        </ol>
        <ul id="qb" class="container2"> -->
          <!-- just quarterback - for bottom row-->
          <!-- <% for(var i = 0; i < players.length; i++) {%>
            <% if(players[i].Pos == 'QB') { %>
              <li onclick="showSubs('sQB')">
                <span class="number"><%= players[i].Number %></span>
                <span class="name" id="QB" name="QB"><%= players[i].FullName %></span>
                <span class="num"><%= players[i].Pos %></span>
              </li>
              <% players[i].Active = true; %>
              <% break; %>
            <% } %>
          <% } %>
        </ul>
      </div> -->

      <!-- Defensive line -->
      <!-- <div class="pitch dline" id="defenseLine">
        <span class="help">Defense</span>
        <ol id="defense" class="container2"> -->
          <!-- wide receiver, halfback, fullback, tight end, offensive tackle, offensive guard, center -->
          <!-- list.splice (list.indexOf("kiwi"), 1); -->
          <!-- Can modify defensive players list - need to make sure appreviations in excel file match up -->
          <!-- <% var defPlayers = ['DE','DT','DT','DE','DL','OLB','MLB', 'OLB', 'CB', 'SS', 'FS']; %>
          <% for(var i = 0; defPlayers.length > 0 && i < players.length; i++) {%>
            <% if (defPlayers.includes(players[i].Pos)) { %>
            <li onclick="showSubs('s<%- players[i].Pos %>')">
              <span class="number"><%= players[i].Number %></span>
              <span class="name"><%= players[i].FullName %> <%= players[i].Pos %></span>
            </li>
              <% defPlayers.splice(defPlayers.indexOf(players[i].Pos), 1); %>
              <% players[i].Active = true; %>
            <% } %>
          <% } %>
        </ol>
      </div> -->

      <!-- Special Teams line -->
      <!-- <div class="pitch sline" id="specialLine">
        <span class="help">Special Teams</span>
        <ol id="special" class="container2"> -->
          <!-- wide receiver, halfback, fullback, tight end, offensive tackle, offensive guard, center -->
          <!-- list.splice (list.indexOf("kiwi"), 1); -->
          <!-- <% var spePlayers = ['K','P','K/P','P/K','LS']; %>
          <% for(var i = 0; spePlayers.length > 0 && i < players.length; i++) {%>
            <% if (spePlayers.includes(players[i].Pos)) { %>
            <li onclick="showSubs('sSPE')">
              <span class="number"><%= players[i].Number %></span>
              <span class="name"><%= players[i].FullName %> <%= players[i].Pos %></span>
            </li>
              <% spePlayers.splice(spePlayers.indexOf(players[i].Pos), 1); %>
              <% players[i].Active = true; %>
            <% } %>
          <% } %>
        </ol>
      </div> -->

      <!-- Offensive bench -->
      <!-- Finds all players who have position belonging to offense and not on active line -->
      <!-- Displays current position clicked -->
      <!-- <% var offBench = ['QB','WR','OL','TE','RB']; %>
      <% for(var i = 0; i < offBench.length; i++) {%>
        <% var id = 's' + offBench[i]; %>
        <% var id2 = offBench[i] + 'subs'; %>
        <div id='<%- id %>' class="bench">
          <span class="help"><%= offBench[i] %> Subs</span>
          <ul id='<%- id2 %>' class="container2">
          <% for(var j = 0; j < players.length; j++) {%>
            <% if(players[j].Active != true && players[j].Pos == offBench[i]) { %>
              <li>
                <span class="number"><%= players[j].Number %></span>
                <span class="name"><%= players[j].FullName %> <%= players[j].Pos %></span>
              </li>
            <% } %>
          <% } %>
          </ul>
        </div>
      <% } %> -->

      <!-- Defensive bench -->
      <!-- Finds all players who have position belonging to defense and not on active line -->
      <!-- Displays current position clicked -->
      <!-- <% var defBench = ['DE','DL','DT','CB','OLB','MLB','SS','FS']; %>
      <% for(var i = 0; i < defBench.length; i++) {%>
        <% var id = 's' + defBench[i]; %>
        <% var id2 = defBench[i] + 'subs'; %>
        <div id='<%- id %>' class="bench">
          <span class="help"><%= defBench[i] %> Subs</span>
          <ul id='<%- id2 %>' class="container2">
          <% for(var j = 0; j < players.length; j++) {%>
            <% if(players[j].Active != true && players[j].Pos == defBench[i]) { %>
              <li>
                <span class="number"><%= players[j].Number %></span>
                <span class="name"><%= players[j].FullName %> <%= players[j].Pos %></span>
              </li>
            <% } %>
          <% } %>
          </ul>
        </div>
      <% } %> -->

      <!-- Special Teams bench -->
      <!-- Finds all players who have position belonging to special teams and not on active line -->
      <!-- Displays current position clicked -->
      <!-- <% var speBench = ['K','P','K/P','P/K','LS']; %>
        <div id='sSPE' class="bench">
          <span class="help">Special Teams Subs</span>
          <ul id='SPsubs' class="container2">
          <% for(var j = 0; j < players.length; j++) {%>
            <% if(players[j].Active != true && speBench.includes(players[j].Pos)) { %>
              <li>
                <span class="number"><%= players[j].Number %></span>
                <span class="name"><%= players[j].FullName %> <%= players[j].Pos %></span>
              </li>
            <% } %>
          <% } %>
          </ul>
        </div>
      <div>
                
      </div>-->
    </div>
  </div>
</div> 
<script>
  // Drag and drop code
  // var drake = dragula({
  //   containers: [
  //     document.querySelector("#qb"),
  //     document.querySelector("#offense"),
  //     document.querySelector("#defense"),
  //     document.querySelector("#special"),
  //     document.querySelector("#subs"),
  //     document.querySelector("#QBsubs"),
  //     document.querySelector("#RBsubs"),
  //     document.querySelector("#WRsubs"),
  //     document.querySelector("#TEsubs"),
  //     document.querySelector("#DEsubs"),
  //     document.querySelector("#OLsubs"),
  //     document.querySelector("#SPsubs"),
  //     document.querySelector('#DLsubs'),
  //   ],
  //   revertOnSpill: true,
  //   mirrorContainer: document.body,
  //   ignoreInputTextSelection: true,
  // });

  // validation
  // drake.on("drop", function (el, target, source, sibling) {
    // max 11 players
    // if ((target.id != source.id) && !target.id.includes("subs") && (document.querySelectorAll(".oline li").length > 11
    // || document.querySelectorAll(".dline li").length > 11 || document.querySelectorAll(".sline li").length > 11)) {
    //   alert('Can only have 11 players. Remove a player before adding a new one.');
    //   drake.cancel();
    // }

    // if (target.id != source.id) {
    //   var numStr = el.innerHTML.split(" ").join("").slice(21,23);
    //   numStr = numStr.replace(/</gi, "");
    //   var b = false;
    //   '<% for(var i = 0; i < players.length; i++) {%>'
    //     if ('<%= players[i].Number %>' == numStr) {
    //       if (target.id.includes("subs")) {
    //         '<%- players[i].Active = false %>';
    //         b = true;
    //       }
    //       else if (source.id.includes("subs")) {
    //         '<%- players[i].Active = true %>';
    //         b = true;
    //       }
    //     }
    //   '<% } %>'
    //   if (!b) {
        // alert("Player number " + numStr + " not found");
      // }
    // }

    // 1 qb
    // if (target.id === "qb" && target.children.length > 1) {
    //   alert('Can only have 1 quarterback.');
    //   drake.cancel();
    // }

    // 10 linemen
    // if (target.id === "offense" && target.children.length > 10) {
    //   alert('Can only have 10 linemen on offense.');
    //   drake.cancel();
    // }
  // });
  // Shows offensive line when you first get to coachHome
  // document.addEventListener(
  //   "DOMContentLoaded",
  //   function () {
  //     //alert("Ready!");
  //     toggleActiveTeam('o');
  //   },
  //   false
  // );
</script>

 