<style>
    @media all and (min-width: 600px) {
      .bodyContainer {
        flex: 2 0px;
      }
      .sidenav {
        order: 1;
      }
      .rBody {
        order: 2;
      }
    }
    .container { 
            display: flex; 
    }
    table.redTable {
    border: 2px solid #a40808;
    background-color: #eee7db;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  table.redTable td,
  table.redTable th {
    border: 1px solid #aaaaaa;
    padding: 3px 2px;
  }
  table.redTable tbody td {
    font-size: 40px;
    text-align: center;
  }
  table.redTable tr:nth-child(even) {
    background: #f5c8bf;
  }
  table.redTable thead {
    background: #a40808;
  }
  table.redTable thead th {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    border-left: 2px solid #a40808;
  }
  table.redTable thead th:first-child {
    border-left: none;
  }

  table.redTable tfoot {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    background: #a40808;
  }
  table.redTable tfoot td {
    font-size: 40px;
    text-align: center;
  }
  table.redTable tfoot .links {
    text-align: right;
  }
  table.redTable tfoot .links a {
    display: inline-block;
    background: #ffffff;
    color: #a40808;
    padding: 2px 8px;
    border-radius: 5px;
  }
  .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
</style>
<div class="bigContainer">
    <%- include("partials/topnav") %>
    <div class="bodyContainer">
        <%- include("partials/sidenav") %>
        <div class="rBody">
          <div class="container"> 
            <div>
              <table style="font-size:30px;" class="redTable" id="viewTable" border="1">
                <tr>
                  <th><%= name1 %>(<%= pos1 %>)</th>
                  <th>Attribute</th>
                  <th><%= name2 %>(<%= pos2 %>)</th>
                </tr>
                <tr>
                  <td>#</td>
                  <td>Game Stats</td>
                  <td>#</td>
                </tr>
                <tr>
                  <td>#</td>
                  <td>Game Grade</td>
                  <td>#</td>
                </tr>
                <tr>
                  <td><%= practice1 %></td>
                  <td>Practice Grade</td>
                  <td><%= practice2 %></td>
                </tr>
                <tr>
                  <td>#</td>
                  <td>Quiz Results</td>
                  <td>#</td>
                </tr>
                <tr>
                  <td><button id="myBtn" width="75%" class="btn btn-primary btn-block mb-2">See Graph</button></td>
                  <td>Training Results</td>
                  <td><button id="myBtn" width="75%" class="btn btn-primary btn-block mb-2">See Graph</button></td>
                </tr>
              </table>
            </div>
          </div> 
        </div>
    </div>
</div>

<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    Graph Goes Here
  </div>
</div>

<div id="myModal2" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    Graph Goes Here
  </div>
</div>

<script>
  // Get the modal
var modal = document.getElementById("myModal");
// Get the button that opens the modal
var btn = document.getElementById("myBtn");
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>