<style>
  @media all and (min-width: 600px) {
    .bodyContainer {flex: 2 0px;}
    .sidenav {order: 1;}
    .rBody {order: 2;}
  }
  .dropbtn {
    background-color: red;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .dropdown {
    position: center;
    display: inline-block;
    border: red;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: red;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #e71111;
  }
  table.redTable {
    border: 2px solid #a40808;
    background-color: #eee7db;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  table.redTable td,
  table.redTable th {
    border: 1px solid #aaaaaa;
    padding: 3px 2px;
  }
  table.redTable tbody td {
    font-size: 13px;
    text-align: center;
  }
  table.redTable tr:nth-child(even) {
    background: #f5c8bf;
  }
  table.redTable thead {
    background: #a40808;
  }
  table.redTable thead th {
    font-size: 19px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    border-left: 2px solid #a40808;
  }
  table.redTable thead th:first-child {
    border-left: none;
  }

  table.redTable tfoot {
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    background: #a40808;
  }
  table.redTable tfoot td {
    font-size: 13px;
    text-align: center;
  }
  table.redTable tfoot .links {
    text-align: right;
  }
  table.redTable tfoot .links a {
    display: inline-block;
    background: #ffffff;
    color: #a40808;
    padding: 2px 8px;
    border-radius: 5px;
  }
  table.redTable2 {
    border: 2px solid #a40808;
    background-color: #eee7db;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  table.redTable2 td,
  table.redTable2 th {
    border: 1px solid #aaaaaa;
    padding: 8px 8px;
  }
  table.table1,
  table.table2 {
    display: none;
    text-align: center;
  }
  td {
    text-align: center;
  }
  @media all and (min-width: 600px) {
    .bodyContainer {
      flex: 2 0px;
    }
    .sidenav {
      order: 1;
    }
    .rBody {
      order: 2;
    }
  }
</style>
<div class="bigContainer">
  <%- include("partials/topnav") %>
  <div class="bodyContainer">
    <%- include("partials/sidenav") %>
    <div class="rBody" style="padding-left: 20px;">
      <h1 class="text-center mb-3">
        <i class="fas fa-sign-in-alt"></i> Season Practice Statistics
      </h1>
      <br><br>
      <div class= 'dropdown'>
        <form action="/stats/dispPracticeStats" method="POST">
            <label for="pos">Choose a Position:</label>
            <select name="pos" id="pos" class="btn btn-primary dropdown-toggle">
              <% for(var i = 0; i < positions.length; i++) { %>
              <option><%= positions[i] %></option>
              <% } %>
            </select>
            <br>
            <input type="submit" value="Submit">
        </form>
      </div>
      <div class="rosterRow">
        <div>
          <table class="redTable">
            <thead>
              <tr>
                <th id="topLeft">Nothing</th>
                <th>Practice Dropdown</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <td colspan="3">
                  <div class="links">
                    <a id="prev" class="active" onclick="prevPlayer();">Previous Player</a>
                    <a id="next" class="active" onclick="nextPlayer();">Next Player</a>
                  </div>
                </td>
              </tr>
            </tfoot>
            <tbody>
              <tr>
                <td>
                  <table class="redTable">
                    <tbody>
                      <tr>
                        <td>
                          <script>
                            let bname = '';
                            let b = '';
                          </script>
                          <% for(var i = 0; i < players.length; i++) { %>
                          <ul>
                            <button class="namePracticeStat" id="playerButton" onclick="changePlayer('<%- i %>');">
                              <%=players[i].FullName %>
                            </button>
                            <script>
                              bname = 'playerButton<%- i %>';
                              b = document.getElementById('playerButton');
                              b.id = bname;
                            </script>
                          </ul>
                          <% } %>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td>
                  <table class="redTable">
                    <thead>
                      <tr>
                        <th id="playerNameHead">Player Name Here</th>
                      </tr>
                    </thead>
                    <table onload="javascript:hideTables();">
                      <input
                        type="button"
                        onClick="javascript:showView();"
                        value="VIEW"
                      />
                      <input
                        type="button"
                        onClick="javascript:showEdit();"
                        value="EDIT"
                      />
                      <table class="redTable" id="viewTable" border="1">
                        <tbody>
                          <tr>
                            <td></td>
                            <td>Last Game Grade</td>
                            <td>Season Average(Overall)</td>
                            <td>Previous Week</td>
                            <td>Season Average(<%=ints[0] %>)</td>
                            <td>Season Average(<%=ints[1] %>)</td>
                            <td>Season Average(<%=ints[2] %>)</td>
                            <td>Season Average(<%=ints[3] %>)</td>
                          </tr>
                          <% for(var i = 0; i < players.length; i++) { %>
                            <% for(var j = 0; j < stats.length; j++) { %>
                                <% if(players[i].Email == stats[j].email) {%>
                                  <tr>
                                  <td><%=players[i].FullName %></td>
                                  <td><%=stats[j].grade %></td>
                                  <td>#</td>
                                  <td>#</td>
                                  <td>#</td>
                                  <td>#</td>
                                  <td>#</td>
                                  <td>#</td>
                                  </tr>
                                  <% break; %>
                                <% } %>
                            <% } %>
                          <% } %>
                        </tbody>
                      </table>
                      <table class="redTable" id="editTable" border="1">
                        <tbody>
                          <form action="/stats/addPracticeGrade" method="POST">
                            <tr>
                              <td>
                                <label for="playerName">Player Name</label>
                                <input
                                  id="playerName"
                                  name="playerName"
                                  value="playerName"
                                  readonly
                                />
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <label for="date">Today's Date</label>
                                <input id="date" name="date" readonly />
                                <script type="text/javascript">
                                  document.getElementById(
                                    "date"
                                  ).value = Date();
                                </script>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <label for="scale">Grading Scale</label>
                                <input
                                  type="text"
                                  name="scale"
                                  id="scale"
                                  value="<%= scale %>"
                                  readonly
                                />
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <label for="grade1"><%= ints[0] %></label>
                                <input
                                  type="number"
                                  name="grade1"
                                  id="grade1"
                                  max="10"
                                  min="0"
                                  placeholder="Enter Grade"
                                />
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <label for="grade2"><%= ints[1] %></label>
                                <input
                                  type="number"
                                  name="grade2"
                                  id="grade2"
                                  max="10"
                                  min="0"
                                  placeholder="Enter Grade"
                                />
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <label for="grade3"><%= ints[2] %></label>
                                <input
                                  type="number"
                                  name="grade3"
                                  id="grade3"
                                  max="10"
                                  min="0"
                                  placeholder="Enter Grade"
                                />
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <label for="grade4"><%= ints[3] %></label>
                                <input
                                  type="number"
                                  name="grade4"
                                  id="grade4"
                                  max="10"
                                  min="0"
                                  placeholder="Enter Grade"
                                />
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <button
                                  type="submit"
                                  class="btn btn-primary btn-block">
                                  Submit Grade
                                </button>
                              </td>
                            </tr>
                          </form>
                        </tbody>
                      </table>
                    </table>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  //called on lines 170-172
  function showView() {
    document.getElementById("viewTable").style.visibility = "visible";
    document.getElementById("editTable").style.visibility = "hidden";
  }
  function showEdit() {
    document.getElementById("viewTable").style.visibility = "hidden";
    document.getElementById("editTable").style.visibility = "visible";
  }
  function hideTables() {
    document.getElementById("viewTable").style.visibility = "hidden";
    document.getElementById("editTable").style.visibility = "hidden";
  }
</script>

<script>
  //called on line 155
  function changePlayer(i) {
    console.log('Inside changePlayer');
    const id = '#playerButton' + i;
    const playerName = document.querySelector(id);
    const name = document.querySelector('#playerName');
    const topLeft = document.querySelector('#topLeft');
    const playerNameHead = document.querySelector('#playerNameHead');
    const prev = document.querySelector('#prev');
    const next = document.querySelector('#next');
    name.value = playerName.textContent.replace('/[\n\r]'+'|[\s]{2,}/g', ' ').trim();
    topLeft.textContent = playerName.textContent;
    playerNameHead.textContent = playerName.textContent;
    prev.value = i;
    next.value = i;
  }

  var dropdown = document.getElementsByClassName("dropdown-btn");
  var i;

  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
      } else {
        dropdownContent.style.display = "block";
      }
    });
  }
</script>

<!-- <script>
//called on lines 141
function prevPlayer() {
  const i = document.querySelector('#prev').value;
  const id = '#playerButton' + i;
  const name = document.querySelector('#playerName');
  const topLeft = document.querySelector('#topLeft');
  const playerNameHead = document.querySelector('#playerNameHead');
  const prev = document.querySelector('#prev');
  const next = document.querySelector('#next');
  name.value = playerName.textContent.replace('/[\n\r]'+'|[\s]{2,}/g', ' ').trim();
  topLeft.textContent = playerName.textContent;
  playerNameHead.textContent = playerName.textContent;
  prev.value = i-1;
  next.value = i+1;
}
function nextPlayer() {
  document.getElementById("playerName").innerHTML = "Grading for" + 'next';
  document.getElementById("topLeft").innerHTML = name + 'name(pos)';
  document.getElementById('player').value = 'name';
}
</script> -->
