<style>
  @media all and (min-width: 600px) {
    .bodyContainer {
      flex: 2 0px;
    }
    .sidenav {
      order: 1;
    }
    .chBody {
      order: 2;
    }
  }
</style>
<script>
  var dt = new Date();
  document.getElementById("datetime").innerHTML =
    ("0" + (dt.getMonth() + 1)).slice(-2) +
    "/" +
    ("0" + dt.getDate()).slice(-2) +
    "/" +
    dt.getFullYear();
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<div class="bigContainer">
  <!-- header -->
  <nav class="topnav">
    <a
      href="javascript:void(0);"
      class="icon threeLines"
      onclick="resizeDropdown2()"
    >
      <i class="fa fa-bars"></i>
    </a>
    <div class="topnavChild1" id="logo">
      <img
        src="images/coachToolsLogo.png"
        alt="CoachTools"
        style="width: 110px"
      />
    </div>
    <div class="topnavChild2">
      <!-- <span class="dateDisp" id="datetime"></span> -->
      <a id="datetime" style="color: #818181"></a>
      <!--style="padding-left: 75%;"-->
      <a class="logout" onclick="window.location.href='/users/logout'"
        >Logout</a
      >
    </div>
  </nav>

  <div class="bodyContainer">
    <nav class="sidenav" id="mySidenav">
      <a href="/playerHome">Home</a>
      <a href="/player/playerGrades">My Grades</a>
      <a href="/player/playerTrends">Max Trends</a>
    </nav>
    <div class="chBody">
      <div style="font-size: 25px; display: inline">Strength</div>

      <table style="width: 100%">
        <tr>
          <th>Max Bench</th>
          <th>Max Squat</th>
          <th>Max Dead</th>
        </tr>
        <tr>
          <td><%= bench%></td>
          <td><%= squat%></td>
          <td><%= dead%></td>
        </tr>
      </table>

      <div style="font-size: 25px; display: inline">Agility</div>

      <table style="width: 100%">
        <tr>
          <th>Mile Time</th>
        </tr>
        <tr>
          <td><%= mile%></td>
        </tr>
      </table>

      <div style="font-size: 25px; display: inline">Height/Weight</div>

      <table style="width: 100%">
        <tr>
          <th>Height</th>
          <th>Weight</th>
        </tr>
        <tr>
          <td><%= height%></td>
          <td><%= weight%></td>
          <td></td>
        </tr>
      </table>
      <canvas id="myChart" width="250" height="250"></canvas>
      <% if (graph) { %>
        <script type="text/javascript">
        var graph = JSON.parse('<%- JSON.stringify(graph) %>');
        console.log("Hello world");

      // Our labels along the x-axis
      var input = [];
      // For drawing the lines      
      var bench = [];
      var squat = [];
      var deadlift = [];

      for (var i = 0; i < graph.length; i++) {
          input.push("Max Session " + i);
          bench.push(parseInt(graph[i].bench));
          squat.push(parseInt(graph[i].squat));
          deadlift.push(parseInt(graph[i].dead));
          console.log(input);
          console.log(bench);
          console.log(squat);
          console.log(deadlift);
      }

        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: input,
            datasets: [
            { 
              data: squat,
              label: "Squat",
              borderColor: "red",
              fill: false,
              pointRadius: 10

            },
            { 
              data: bench,
              label: "Bench",
              borderColor: "black",
              fill: false,
              pointRadius: 10

            },
            { 
              data: deadlift,
              label: "Deadlift",
              borderColor: "Blue",
              fill: false,
              pointRadius: 10,
            },
            ]
          }
        });

        </script>
      <% } %>
      <div class="row mt-5">
        <div class="col-md-6 m-auto">
          <div class="card card-body">
            <h1 class="text-center mb-3">
              <i class="fas fa-sign-in-alt"></i>Update Stats
            </h1>
            <%- include('./partials/messages'); %>
            <form action="/player/updatestats" method="POST">
              <div class="form-group">
                <label for="bench">Current Max Bench Press</label>
                <input
                  type="bench"
                  id="bench"
                  name="bench"
                  class="form-control"
                  placeholder="Enter Weight"
                />
              </div>
              <div class="form-group">
                <label for="squat">Current Max Squat</label>
                <input
                  type="squat"
                  id="squat"
                  name="squat"
                  class="form-control"
                  placeholder="Enter Weight"
                />
              </div>
              <div class="form-group">
                <label for="dead">Current Max DeadLift</label>
                <input
                  type="dead"
                  id="dead"
                  name="dead"
                  class="form-control"
                  placeholder="Enter Weight"
                />
              </div>
              <div class="form-group">
                <label for="mile">Current Mile Time</label>
                <input
                  type="mile"
                  id="mile"
                  name="mile"
                  class="form-control"
                  placeholder="Enter Time"
                />
              </div>
              <div class="form-group">
                <label for="height">Current Height(in)</label>
                <input
                  type="height"
                  id="height"
                  name="height"
                  class="form-control"
                  placeholder="Enter Height"
                />
              </div>
              <div class="form-group">
                <label for="weight">Current Weight(lbs)</label>
                <input
                  type="weight"
                  id="weight"
                  name="weight"
                  class="form-control"
                  placeholder="Enter Weight"
                />
              </div>
              <button type="submit" class="btn btn-primary btn-block">
                Submit
              </button>
            </form>
          </div>
        <div>
      </div>
    </div>
  </div>
</div>
