<style>
  table.redTable {
    border: 2px solid #a40808;
    background-color: #eee7db;
    width: 90%;
    text-align: center;
    border-collapse: collapse;
  }
  table.redTable td,
  table.redTable th,
  table.redTable tr {
    border: 1px solid #aaaaaa;
    padding: 3px 2px;
  }
  table.redTable tbody td {
    font-size: 13px;
    text-align: center;
  }
  table.redTable tr:nth-child(even) {
    background: #f5c8bf;
  }
  @media all and (min-width: 600px) {
    .bodyContainer {
      flex: 2 0px;
    }
    .sidenav {
      order: 1;
    }
    /* .gradeTable {
      order: 2;
    } */
    .chBody {
      order: 2;
    }
  }
</style>
<div class="bigContainer">
  <!-- header -->
  <%- include("partials/topnav") %>
  <div class="bodyContainer">
    <!-- Side navigation -->
    <%- include("partials/sidenavPlayer") %>
    <div class="chBody">
        <div class="gradeTable" style="width: 100%">
          <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>Player Grades</h1>
          <table class="redTable" style="width: 100%">
            <th>Last Grade</th>
            <tr>
                <%try{ %>
                <td style="font-size:40px;"><%= stats[0].grade %></td>
              <% } catch(err){ %>
                  <% console.log(err); %>
              <% } %>
            </tr>
            <th>Weekly Trend</th>
            <tr>
              <td>
                <canvas id="weeklyChart" style="width: 300px; height: 150px"></canvas>
              </td>
            </tr>
            <th>Seasonal Trend</th>
            <tr>
              <td>
                <canvas id="seasonalChart" style="width: 300px; height: 150px"></canvas>
              </td>
            </tr>
          </table>
        </div>
    </div>
  </div>
</div>
<!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<!-- If there are stats available, then it will go forward in creating the weekly graph. -->
<% if (stats) { %> 
<script type="text/javascript">
  var stats = JSON.parse('<%- JSON.stringify(stats) %>');

//myChart deals with the weekly trend stats for practice stats.
  console.log(stats[0].date);
  console.log((stats[0].date).split('T'));
    // Our labels along the x-axis
  var dates = [];
  // For drawing the lines
  var grades = [];

  for(var i = 0; i < stats.length; i++)
  {
    if(i >= 7)
        break;
    var dateArr = (stats[i].date).split('T');
    var date = dateArr[0];
    var grade = stats[i].grade;

    grades.push(parseInt(grade));

    console.log(typeof date);

    dates.push(date);
  }


    dates = dates.reverse();
    grades = grades.reverse();

    var ctx = document.getElementById("weeklyChart"); //Retrieving the elementID of the chart above in canvas.
    var myChart = new Chart(ctx, { //Styling the graph. If you need more information on styling the graph please go to the Chart.js Documentation online.
      type: 'line',
      data: {
        labels: dates,
        datasets: [
               { 
                  data: grades,
                  label: "Previous Week Grades",
                  borderColor: "red",
                  fill: false
                }         
        ]
      }
  });

  </script>
  <% } %>


  <!-- If there are stats from the render then the code will proceed to display the seasonal chart. -->
  <% if (stats) { %> 
  <script type="text/javascript">
  var stats = JSON.parse('<%- JSON.stringify(stats) %>');

    // Our labels along the x-axis
    var dates = []; //The dates in which a grade was made for the player.
    // For drawing the lines
    var grades = []; //The grade given to student by their coach.

    // 'stats' returns a json array that is why we are able to go into a for loop. 'stats' contains player grade information sorted 
    for(var i = 0; i < stats.length; i++)
    {

      var dateArr = (stats[i].date).split('T');
      var date = dateArr[0];
      var grade = stats[i].grade;

      grades.push(parseInt(grade));

      console.log(typeof date);

      dates.push(date);
    }


    dates = dates.reverse();
    grades = grades.reverse();

      var ctx = document.getElementById("seasonalChart"); //Retrieving the elementID of the chart above in canvas.
      var myChart = new Chart(ctx, { //Styling the graph. If you need more information on styling the graph please go to the Chart.js Documentation online.
        type: 'line',
        data: {
          labels: dates,
          datasets: [
                { 
                    data: grades,
                    label: "Season Grades",
                    borderColor: "red",
                    fill: false
                  }         
          ]
        }
    });
</script>
<% } %>
<!-- <div class="topNavBody">
    <header id="nav-wrapper">
      <nav id="nav">
        <div class="nav left">
          <span class="gradient skew"><h1 class="logo un-skew"><a href="#home"><img
            src="images/coachToolsLogo.png"
            alt="CoachTools"
            style="display: inline; width: 150px; padding-left: 30px"
          /></a></h1></span>
          <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
        </div>
        <div class="nav right">
          <a href="#home" class="nav-link active"><span class="nav-link-span"><span class="u-nav">Home</span></span></a>
          <a href="#about" class="nav-link"><span class="nav-link-span"><span class="u-nav">About</span></span></a>
          <a href="#work" class="nav-link"><span class="nav-link-span"><span class="u-nav">Work</span></span></a>
          <a href="#contact" class="nav-link"><span class="nav-link-span"><span class="u-nav">Contact</span></span></a>
        </div>
      </nav>
    </header>
  </div> -->
