<style>
  table,
  th,
  td {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
  }
  @media all and (min-width: 600px) {
    .bodyContainer {
      flex: 2 0px;
    }
    .sidenav {
      order: 1;
    }
    .gradeTable {
      order: 2;
    }
  }
</style>
<div class="bigContainer">
  <!-- header -->
  <nav class="topnav" id="myTopnav">
    <a href="javascript:void(0);" class="icon threeLines" onclick="resizeDropdown2()">
      <i class="fa fa-bars"></i>
    </a>
    <div class="topnavChild1" id="logo">
      <img src="images/coachToolsLogo.png" alt="CoachTools" style="width: 110px;"/>
    </div>
    <div class="topnavChild2">
      <a id="datetime"></a>
      <a ><%= name %></a>
      <a class="logout" onclick="window.location.href='/users/logout'">Logout</a>
    </div>
  </nav>
  <div class="bodyContainer">
    <!-- Side navigation -->
    <nav class="sidenav" id="mySidenav">
      <a href="/playerHome">Home</a>
      <a href="/player/playerGrades">My Grades</a>
      <a href="/player/playerTrends">Max Trends</a>
    </nav>
    <div class="gradeTable">
      <h1 class="mt-4">Grades Homepage <%= name%></h1>
      <table style="width: 100%">
        <tr>
          <th>Today's Grade</th>
          <th>Weekly Trend</th>
          <th>Seasonal Trend</th>
        </tr>
        <tr>
          <%try{ %>
            <td><%= stats[0].grade %></td>
          <% } catch(err){ %>
              <% console.log(err); %>
          <% } %>
          <td>
            <canvas id="weeklyChart" style="width: 300px; height: 150px"></canvas>
          </td>
          <td>
            <canvas id="seasonalChart" style="width: 300px; height: 150px"></canvas>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<% if (stats) { %> 
<script type="text/javascript">
  var stats = JSON.parse('<%- JSON.stringify(stats) %>');

//myChart deals with the weekly trend stats for practice stats.
  console.log(stats[0].date);
  console.log((stats[0].date).split('T'));
    // Our labels along the x-axis
  var dates = [];
  // For drawing the lines
  var grades = [];

  for(var i = 0; i < stats.length; i++)
  {
    if(i >= 7)
        break;
    var dateArr = (stats[i].date).split('T');
    var date = dateArr[0];
    var grade = stats[i].grade;

    grades.push(parseInt(grade));

    console.log(typeof date);

    dates.push(date);
  }


  console.log(date);
  console.log(grade);

    var ctx = document.getElementById("weeklyChart"); //Retrieving the elementID of the chart above in canvas.
    var myChart = new Chart(ctx, { //Styling the graph. If you need more information on styling the graph please go to the Chart.js Documentation online.
      type: 'line',
      data: {
        labels: dates,
        datasets: [
               { 
                  data: grades,
                  label: "Previous Week Grades",
                  borderColor: "#3e95cd",
                  fill: false
                }         
        ]
      }
  });

  </script>
  <% } %>

  <% if (stats) { %> 
  <script type="text/javascript">
  var stats = JSON.parse('<%- JSON.stringify(stats) %>');

  //myChart deals with the weekly trend stats for practice stats.
    console.log(stats[0].date);
    console.log((stats[0].date).split('T'));
      // Our labels along the x-axis
    var dates = [];
    // For drawing the lines
    var grades = [];

    for(var i = 0; i < stats.length; i++)
    {

      var dateArr = (stats[i].date).split('T');
      var date = dateArr[0];
      var grade = stats[i].grade;

      grades.push(parseInt(grade));

      console.log(typeof date);

      dates.push(date);
    }


    console.log(date);
    console.log(grade);

      var ctx = document.getElementById("seasonalChart"); //Retrieving the elementID of the chart above in canvas.
      var myChart = new Chart(ctx, { //Styling the graph. If you need more information on styling the graph please go to the Chart.js Documentation online.
        type: 'line',
        data: {
          labels: dates,
          datasets: [
                { 
                    data: grades,
                    label: "Season Grades",
                    borderColor: "#3e95cd",
                    fill: false
                  }         
          ]
        }
    });
</script>
<% } %>
<!-- <div class="topNavBody">
    <header id="nav-wrapper">
      <nav id="nav">
        <div class="nav left">
          <span class="gradient skew"><h1 class="logo un-skew"><a href="#home"><img
            src="images/coachToolsLogo.png"
            alt="CoachTools"
            style="display: inline; width: 150px; padding-left: 30px"
          /></a></h1></span>
          <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
        </div>
        <div class="nav right">
          <a href="#home" class="nav-link active"><span class="nav-link-span"><span class="u-nav">Home</span></span></a>
          <a href="#about" class="nav-link"><span class="nav-link-span"><span class="u-nav">About</span></span></a>
          <a href="#work" class="nav-link"><span class="nav-link-span"><span class="u-nav">Work</span></span></a>
          <a href="#contact" class="nav-link"><span class="nav-link-span"><span class="u-nav">Contact</span></span></a>
        </div>
      </nav>
    </header>
  </div> -->
