<!-- Authors: Ricardo Hernandez, Cam Burns, and Kayl Murdough -->
<style>
  @media all and (min-width: 600px) {
    .bodyContainer {
      flex: 2 0px;
    }
    .sidenav {
      order: 1;
    }
    .chBody {
      order: 2;
    }
  }
  table.redTable {
    border: 2px solid #a40808;
    background-color: #eee7db;
    width: 90%;
    text-align: center;
    border-collapse: collapse;
  }
  table.redTable td,
  table.redTable th,
  table.redTable tr {
    border: 1px solid #aaaaaa;
    padding: 3px 2px;
  }
  table.redTable tbody td {
    font-size: 13px;
    text-align: center;
  }
  table.redTable tr:nth-child(even) {
    background: #f5c8bf;
  }
  table.redTable thead {
    background: #a40808;
  }
  table.redTable thead th {
    font-size: 19px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    border-left: 2px solid #a40808;
  }
  table.redTable thead th:first-child {
    border-left: none;
  }
  .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
</style>
<script>
  var dt = new Date();
  document.getElementById("datetime").innerHTML =
    ("0" + (dt.getMonth() + 1)).slice(-2) +
    "/" +
    ("0" + dt.getDate()).slice(-2) +
    "/" +
    dt.getFullYear();
</script>
<!-- This script will be used for the responsive chart in Player Trends and Maxes. The graph is bootstrap created by Chart.js. -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<div class="bigContainer">
  <!-- header -->
  <nav class="topnav">
    <a
      href="javascript:void(0);"
      class="icon threeLines"
      onclick="resizeDropdown2()"
    >
      <i class="fa fa-bars"></i>
    </a>
    <div class="topnavChild1" id="logo">
      <img
        src="images/coachToolsLogo.png"
        alt="CoachTools"
        style="width: 110px"
      />
    </div>
    <div class="topnavChild2">
      <!-- <span class="dateDisp" id="datetime"></span> -->
      <a id="datetime" style="color: #818181"></a>
      <!--style="padding-left: 75%;"-->
      <a class="logout" onclick="window.location.href='/users/logout'"
        >Logout</a
      >
    </div>
  </nav>

  <div class="bodyContainer">
    <nav class="sidenav" id="mySidenav">
      <a href="/playerHome">Home</a>
      <a href="/player/playerGrades">My Grades</a>
      <a href="/player/playerTrends">Max Trends</a>
    </nav>
    <div class="chBody">

      <table class="redTable" style="width: 100%">
        <thead>
            <th></th>
            <th>Strength</th>
            <th></th>
        </thead>
        <tr>
          <th>Current Max Bench</th>
          <th>Current Max Squat</th>
          <th>Current Max Dead</th>
        </tr>
        <tr>
          <td><%= bench%> lbs.</td>
          <td><%= squat%> lbs.</td>
          <td><%= dead%> lbs.</td>
        </tr>
      </table>

      <table class="redTable" style="width: 100%">
        <thead>
          <th>Agility</th>
        </thead>
        <tr>
          <th>Mile Time</th>
        </tr>
        <tr>
          <td><%= mile%></td>
        </tr>
      </table>

      <table class="redTable" style="width: 100%">
        <thead>
          <th colspan="2" width="100%">Height & Weight</th>
        </thead>
        <tr>
          <th width="50%" text-align="center" valign="middle">Height</th>
          <th width="50%" text-align="center" valign="middle">Weight</th>
        </tr>
        <tr>
          <td width="50%" align="center" valign="middle"><%= height%> inches</td>
          <td width="50%" align="center" valign="middle"><%= weight%> lbs.</td>
        </tr>
      </table>
      <!-- The following section is code in relation to the chart.  -->
      <div class="row mt-5">
        <div class="col-md-6 m-auto">
          <div class="card card-body text-center">
            <canvas id="myChart" width="600" height="600"></canvas>
      <!-- If there is information in the graph, we will create the chart. -->
      <% if (graph) { %> 
        <script type="text/javascript">
        var graph = JSON.parse('<%- JSON.stringify(graph) %>');
        console.log("Hello world");

      // Our labels along the x-axis
      var input = []; //Input will be the Max session that will be on the x axis.
      // For drawing the lines      
      var bench = []; //The bench press maxes
      var squat = []; //The squat maxes
      var deadlift = []; //Deadlift maxes.
      

      //We will go through all the information pased by the graph variable and push it onto our arrays.
      for (var i = 0; i < graph.length; i++) {
          input.push("Max Session " + i);
          bench.push(parseInt(graph[i].bench));
          squat.push(parseInt(graph[i].squat));
          deadlift.push(parseInt(graph[i].dead));
          console.log(input);
          console.log(bench);
          console.log(squat);
          console.log(deadlift);
      }

        var ctx = document.getElementById("myChart"); //Retrieving the elementID of the chart above in canvas.
        var myChart = new Chart(ctx, { //Styling the graph. If you need more information on styling the graph please go to the Chart.js Documentation online.
          type: 'line',
          data: {
            labels: input,
            datasets: [
            { 
              data: squat,
              label: "Squat",
              borderColor: "red",
              fill: false,
              pointRadius: 10

            },
            { 
              data: bench,
              label: "Bench",
              borderColor: "black",
              fill: false,
              pointRadius: 10

            },
            { 
              data: deadlift,
              label: "Deadlift",
              borderColor: "Blue",
              fill: false,
              pointRadius: 10,
            },
            ]
          },
          options: {
                responsive: false
            }
        });

        </script>
      <% } %>
      <div class="row mt-5">
        <div class="col-md-6 m-auto">
          <div class="card card-body text-center">
            <button id="myBtn" width="75%" class="btn btn-primary btn-block mb-2">Update Stats</button>
          </div>
        </div>
      <div>
      <!-- The Modal PopUp Window-->
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <div class="row mt-5">
            <div class="col-md-6 m-auto">
              <div class="card card-body">
                <h1 class="text-center mb-3">
                  <i class="fas fa-sign-in-alt"></i>Update Stats
                </h1>
                <%- include('./partials/messages'); %>
                <form action="/player/updatestats" method="POST">
                  <div class="form-group">
                    <label for="bench">Current Max Bench Press</label>
                    <input
                      type="bench"
                      id="bench"
                      name="bench"
                      class="form-control"
                      placeholder="Enter Weight"
                    />
                  </div>
                  <div class="form-group">
                    <label for="squat">Current Max Squat</label>
                    <input
                      type="squat"
                      id="squat"
                      name="squat"
                      class="form-control"
                      placeholder="Enter Weight"
                    />
                  </div>
                  <div class="form-group">
                    <label for="dead">Current Max DeadLift</label>
                    <input
                      type="dead"
                      id="dead"
                      name="dead"
                      class="form-control"
                      placeholder="Enter Weight"
                    />
                  </div>
                  <div class="form-group">
                    <label for="mile">Current Mile Time</label>
                    <input
                      type="mile"
                      id="mile"
                      name="mile"
                      class="form-control"
                      placeholder="Enter Time"
                    />
                  </div>
                  <div class="form-group">
                    <label for="height">Current Height(in)</label>
                    <input
                      type="height"
                      id="height"
                      name="height"
                      class="form-control"
                      placeholder="Enter Height"
                    />
                  </div>
                  <div class="form-group">
                    <label for="weight">Current Weight(lbs)</label>
                    <input
                      type="weight"
                      id="weight"
                      name="weight"
                      class="form-control"
                      placeholder="Enter Weight"
                    />
                  </div>
                  <button type="submit" class="btn btn-primary btn-block">
                    Submit
                  </button>
                </form>
              </div>
            <div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Get the modal
var modal = document.getElementById("myModal");
// Get the button that opens the modal
var btn = document.getElementById("myBtn");
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
