<!-- Displays current roster of players -->
<!-- Table includes: Name, Position, Graduation Year, Number - can be easily modified -->
<style>
  @media all and (min-width: 600px) {
    .bodyContainer {
      flex: 2 0px;
    }
    .sidenav {
      order: 1;
    }
    .rBody {
      order: 2;
    }
  }
  .table-btn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  .noButton {
    border:none; 
    background:none;
  }

  .noButton:hover {
    color: #a40808;
  }
</style>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<div class="bigContainer">
  <%- include("partials/topnav") %>
  <!-- Side navigation -->
  <div class="bodyContainer">
    <%- include("partials/sidenav") %>

    <div class="rBody">
      <span class="help"><%= school %> Roster</span>
      <div class="rosterRow">
        <!-- <div class="btn-group" style="padding: 10px">
          <button
            class="btn btn-primary dropdown-toggle"
            data-toggle="dropdown"
          >
            <%= school %> 2020
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item"><%= school %> 2018</a>
            <a class="dropdown-item"><%= school %> 2019</a>
            <a class="dropdown-item"><%= school %> 2020</a>
          </div>
        </div> -->
        <div class="form-group" role="group" aria-label="Button group with nested dropdown">
          <form action="/coach/table" method="POST">
            <!-- <button type="button" class="btn btn-primary">Sort By</button> -->
            <div class="dropdown" role="group" style="padding: 10px;">
              <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter</button>
              <div class="dropdown-content" aria-labelledby="btnGroupDrop1">
                <% var allPlayers = ['QB','RB','FB','WR','TE','LT','LG','C','RG','RT','CB','DB','DE','DL','DT','FS','ILB','LB','MLB','OLB','SS','K/P','LS']; %>
                <button
                  class="dropdown-item"
                  type="submit"
                  name="type"
                  value="full"
                >
                <% for (var i = 0; i < allPlayers.length; i++) { %>
                  <button class="dropdown-item" type="submit" name="type" value="<%- allPlayers[i] %>">View <%= allPlayers[i] %>s</button>
                <% } %>
              </div>
            </div>
          </form>
        </div>

        <!-- This is the upload excel roster button. -->
        <!-- <p>Use the form below to upload a list of authors. -->
        <div class="uploadRosterClass" style="padding-top: 10px;">
          <form action="/upload/upload" method="POST" encType="multipart/form-data">
            <input type="file" name="file" accept=".csv" />
            <input type="submit" class="btn btn-primary dropdown-toggle" value="Upload Roster" disabled/>
          </form>
          <p>
            Click <a href="/coach/template">here</a> for an example template.
          </p>
        </div>
      </div>

      <table class="table table-hover" style="padding: 500px">
        <thead>
          <tr class="table-dark">
            <form action="/coach/table" method="POST">
              <th scope="col"><button type="submit" name="type" value="name" class="table-btn">Name</button></th>
              <th scope="col"><button type="submit" name="type" value="pos" class="table-btn">Position</button></th>
              <th scope="col"><button type="submit" name="type" value="gy" class="table-btn">Graduation Year</button></th>
              <th scope="col"><button type="submit" name="type" value="rank" class="table-btn">Rank</button></th>
              <th scope="col"><button type="submit" name="type" value="num" class="table-btn">Number</button></th>
            </form>
          </tr>
        </thead>
        <tbody>
          <ul class="players">
            <% for(var i = 0; i < players.length; i++) {%>
            <tr class="table-default">
              <form action="/coach/viewPlayer" method="POST">
                <td><button class="noButton" type="submit" name="playerName" value="<%= players[i].FullName %>"><%= players[i].FullName %></button></td>
              </form>
              <!-- <td><%= players[i].FullName %></td> -->
              <td><%= players[i].Pos %></td>
              <td><%= players[i].GradYear %></td>
              <td><%= players[i].Rank %></td>
              <td><%= players[i].Number %></td>
            </tr>
            <% } %>
          </ul>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  // Makes sidebar work
  var dropdown = document.getElementsByClassName("dropdown-btn");
  var i;

  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
      } else {
        dropdownContent.style.display = "block";
      }
    });
  }
  // Makes buttons work
  var dropdown = document.getElementsByClassName("dropdown-toggle");
  var i;

  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
      } else {
        dropdownContent.style.display = "block";
      }
    });
  }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><script type="text/javascript">
  $(document).ready(
      function(){
          $('input:file').change(
              function(){
                  if ($(this).val()) {
                      $('input:submit').attr('disabled',false);
                      // or, as has been pointed out elsewhere:
                      // $('input:submit').removeAttr('disabled'); 
                  } 
              }
              );
      });
    </script>
  </script>
  