<div class="bigContainer">
  <%- include("partials/topnav") %>
  <div class="bodyContainer">
      <%- include("partials/sidenav") %>
      <div class="rBody">
        <h3><a href="playerFeedback">Back</a></h3>
        <div class="container">
        <div class="row mt-5">
          <div class="col-md-6 m-auto">
            <div class="card card-body">
              <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i><%= type %> Questionnaire Responses</h1>
                <h3>Questionnaire Repsonse</h3>
                <table style="width:100%">
                  <tr>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Q1</th>
                    <th>Q2</th>
                    <th>Q3</th>
                    <!-- <% for(var i = 0; i < quests.length; i++) { %>
                      <th>q1<%= quests[i].questions[0]; %></th> 
                      <th>q2<%= quests[i].questions[1]; %></th> 
                      <th>q3<%= quests[i].questions[2]; %></th>
                    <% } %>  -->
                    <th>Comment</th>
                  </tr>
                  <% for(var i = 0; i < completeQuests.length; i++) { %>
                  <tr>
                    <td>
                      <%= date[i] %>
                    </td>
                    <td>
                      <%= completeQuests[i].name; %>
                    </td>
                    <td>
                      <%= completeQuests[i].score[0]; %>
                    </td>
                    <td>
                      <%= completeQuests[i].score[1]; %>
                    </td>
                    <td>
                      <%= completeQuests[i].score[2]; %>
                    </td>
                    <td>
                      <%= completeQuests[i].comment; %>
                    </td>
                  </tr>
                  <br>
                  <% } %>
              </table>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>